*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #393646;
}

nav{
    background-color: #4F4557!important;
}

.carousel-inner img{
    filter: brightness(40%);
}

footer{
    background-color: #4F4557;
}

footer a{
    text-decoration: none;
}

.usluga{
    width: 90%;
    height: 90%;
    margin:20px auto;
    background-color:#F4EEE0;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #00000091 0px 0px 13px 0px;
    transition: 0.3s;
  }

.usluga img{
    height: 90px;
}

.modal-dugme button{
    background-color: #4F4557;
    border: none;
}

.modal-dugme button:hover{
    background-color: #393646;
    border: none;
}

form button{
    
    background-color: #6D5D6E!important;
    border: none!important
}

iframe{
    border-radius: 20px;
    box-shadow: #00000091 0px 0px 13px 0px;
}

.shop img{
    border-radius: 20px 20px 0px 0px;
}

.shop{
    width: 60%;
    height: 90%;
    margin:20px auto;
    background-color:#F4EEE0;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #00000091 0px 0px 13px 0px;
}

.naslovi a{
    color: #F4EEE0!important;
}

.ikonice a, i{
    color: #F4EEE0
}

.kraj{
    color: #F4EEE0
}

.row h4{
    color: #F4EEE0!important;
}

.opis{
    color: #6D5D6E;
    font-style: italic;
}

.about h1{
    color: #F4EEE0;
    font-style: italic;
}

.about p{
    color: #F4EEE0;
}

.about hr{
    width: 100px;
    background-color: #F4EEE0;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
}

.tekst h1{
    color: #F4EEE0!important;
    font-style: italic;
}

.tekst p{
    color: #F4EEE0;
    font-size: 30px;
}

.slika img{
    border-radius: 20px;
    box-shadow: #00000091 0px 0px 13px 0px;
}

nav img{
    width: 65px;
    height: 65px;
}

nav ul li a{
    font-size: 17px!important;
}

.sadrzaj button{
    background-color: #6D5D6E;
    border: none;
    color: white;
}

.sadrzaj a{
    color: white;
}


.sadrzaj button:hover{
    background-color: #4F4557;
    border: none;
}

.sadrzaj h1{
    font-style: italic;
}

.sadrzaj h1, p{
    color: #F4EEE0;
}

.formica h1{
    color: #F4EEE0!important;
}

label{
    color: #F4EEE0!important;
}

@media screen and (max-width: 1202px){
    .sadrzaj h1{
        font-size: 30px!important;
    }
}

@media screen and (max-width: 540px){
    .sadrzaj p{
        font-size: 14px!important;
    }
    .about p{
        font-size: 13px;
    }
    .prod h5{
        font-size: 16px!important;
    }
    .prod p{
        font-size: 12px!important;
    }
}

@media screen and (max-width: 990px){
    .frag{
        margin-bottom: 15px!important;
    }
}

@media screen and (max-width: 770px){
    .prod{
        margin-bottom: 25px!important;
    }
}

@media screen and (max-width: 1201px){
    .tekst p{
        font-size: 20px!important;
    }
}

@media screen and (max-width: 430px){
    .slika img{
        width: 60%;
    }
}